@media screen and (max-width: 576px) {
  p#titulo-login-verde {
    font-size: 60px;
  }

  span#titulo-login-vermelho {
    font-size: 50px;
  }

  .position-fixed-sm {
    position: fixed;
  }

  .label-login {
    font-size: 19px;
    margin-top: 1%;
  }

  .login-esqueceu-senha, .novo-registro, a#novo-registro {
    font-size: 15px;
    margin-top: 2%;
  }

  .btn-login {
    width: 150px;
    height: 40px;
    font-size: 19px !important;
  }

  .img-login {
    width: 28%;
    height: 22%;
    z-index: 5;
    bottom: 0;
    right: 0;
    float: left;
    position: fixed;
  }

  .all-conteudo {
    margin-top: 5% !important;
  }

  .mantenha-conectado {
    font-size: 14px;
    margin-left: 5%;
  }

  input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    padding-left: 45px;
    line-height: 20px;
  }

  input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 25px;
    left: 0;
    top: 0%;
    bottom: 0%;
    border: solid 1px;
    border-radius: 200px;
    vertical-align: bottom;
  }

  input[type="checkbox"]:checked+label::after {
    left: 10px;
    bottom: 0px;

  }

  .login-esqueceu-senha {
    font-family: Raleway-Black-Italic;
  }

  a#novo-registro {
    font-family: Raleway-Black-Italic;
  }

  p#titulo-criar-conta {
    font-size: 50px;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  p#possui-conta {
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  p#titulo-conta-criada {
    font-size: 63px;
    line-height: 60px;
  }

  p#texto-conta-criada {
    font-size: 21px;
  }

  a#btn-criar-conta-login {
    font-size: 30px !important;
    padding: 5px 45px !important;
  }

  .input-criar-conta {
    margin-left: unset;
  }

  .input-nome-usuario {
    margin-left: unset;
  }

  .input-senha {
    margin-left: unset;
  }

  .btn-criar-conta {
    margin-left: 7%;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  .label-login {
    font-size: 25px;
  }

  p#titulo-login {
    font-size: 60px;
    line-height: 55px;
    margin-top: 10%;
  }

  .all-conteudo {
    margin-top: 8% !important;
  }

  .img-login {
    width: 30%;
  }

  .login-fundo-branco {
    min-height: 105vh;
  }

  p#titulo-conta-criada {
    font-size: 73px;
  }

  p#texto-conta-criada {
    font-size: 23px;
  }

  a#btn-criar-conta-login {
    font-size: 30px;
    padding: 5px 50px;
  }

  p#titulo-criar-conta {
    font-size: 55px;
  }

  p#possui-conta {
    font-size: 25px;
  }
  .btn-criar-conta{
    margin-left: 5%;
  }

}