:root {
  --cor_branca: #FFFFF8;
  --cor_vermelha: #AF3320;
  --cor_verde: #1B3A02;
  --logo: url(../image/Logo-claro.png);
  --background: url(../image/Bg-Login-Claro.png) center center no-repeat fixed;
  --color_preta: #000000;
}

@media screen and (max-width: 576px) {
  p#titulo-login-verde {
    font-size: 60px;
  }

  span#titulo-login-vermelho {
    font-size: 50px;
  }

  .position-fixed-sm {
    position: fixed;
  }

  .label-login {
    font-size: 19px;
    margin-top: 1%;
  }

  .login-esqueceu-senha, .novo-registro, a#novo-registro {
    font-size: 15px;
    margin-top: 2%;
  }

  .btn-login {
    height: 40px;
    font-size: 19px !important;
  }

  .all-conteudo {
    margin-top: 5% !important;
  }

  .mantenha-conectado {
    font-size: 14px;
    margin-left: 5%;
  }

  input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    padding-left: 45px;
    line-height: 20px;
  }

  input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 25px;
    left: 0;
    top: 0%;
    bottom: 0%;
    border: solid 1px;
    border-radius: 200px;
    vertical-align: bottom;
  }

  input[type="checkbox"]:checked+label::after {
    left: 10px;
    bottom: 0px;

  }

  .login-esqueceu-senha {
    font-family: Raleway-Black-Italic;
  }

  a#novo-registro {
    font-family: Raleway-Black-Italic;
  }

  p#titulo-criar-conta {
    font-size: 50px;
  }

  p#possui-conta {
    font-size: 19px;
  }

  p#titulo-conta-criada {
    font-size: 63px;
    line-height: 60px;
  }

  p#texto-conta-criada {
    font-size: 25px;
    margin-bottom: 25px;
  }

  a#btn-criar-conta-login {
    font-size: 34px !important;
    padding: 5px 40px !important;
    display: table-cell;
    width: 100;
    text-align: center;
    height: 50px;
  }

  .input-criar-conta {
    margin-left: unset;
  }

  .input-nome-usuario {
    margin-left: unset;
  }

  .input-senha {
    margin-left: unset;
  }

  .background-login {
    min-height: unset;
    width: 100%;
    -webkit-background-size: unset;
    -moz-background-size: unset;
    -o-background-size: unset;
    background-size: unset;
    background: unset;
  }

  .navbar-img-logo {
    width: 100%;
    height: 50%;
    margin-top: 30px;
    margin-left: unset;
  }

  .span-icon-buscar {
    font-size: 30px !important;
  }

  .navbar-input-busca {
    height: 50px;
  }

  .navbar-input-busca::placeholder {
    font-size: 20px !important;
  }

  p#titulo-sobre-nos {
    font-size: 50px;
    line-height: 45px;
    margin-top: -40px;
  }

  span#texto-professor {
    font-size: 30px;
  }

  p#texto-equipe {
    font-size: 50px;
  }

  p#texto-professor {
    font-size: 30px;
  }

  .img-logo-cadastrar {
    width: 100%;
  }

  p#esqueceu-senha {
    font-size: 42px;
    line-height: 40px;
  }

  .btn-enviar-email {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }

  a#pagina-inicial {
    padding: 0px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p#texto-instrucao {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .nav-meu-espaco {
    margin: auto;
  }

  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-img-logo {
    height: 80%;
    margin-top: 35px;
    width: 100%;
  }

  .input-group-navbar {
    margin-top: 35px;
  }

  .d-hidden {
    display: none !important;
  }

  .icon-login {
    width: 159px;
    height: 200px;
    z-index: 10;
    bottom: 0;
    right: 0;
    float: left;
    position: fixed;
  }

  .btn-login {
    width: 100%;
  }

  .btn-criar-conta {
    width: 100%;
  }

  p#configuracao {
    font-size: 25px !important;
  }

  .sidebar .sidebar-content .nav-left>a {
    font-size: 22px;
  }

  .dropdown-transition {
    width: 250px;
  }

  .sidebar .sidebar-content {
    margin-top: auto;
  }

  .fa-sign-out {
    font-size: 50px !important;
  }

  .input-sair {
    font-size: 35px;
  }

  div#texto-usuario {
    font-size: 23px !important;
  }
  .balao-vermelho{
    width: 45% !important;
    margin-left: 2.5%;
    margin-right: 2.5%;  
  }

  .balao-verde{
    width: 45% !important;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media screen and (min-width:768px) and (max-width: 991px) {
  .balao-vermelho{
    width: 19% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;  
  }

  .balao-verde{
    width: 19% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
@media screen and (max-width: 991px) {
  .nav-meu-espaco, .btn-navbar-login, .nav-item {
    margin: auto;
  }

  .nav-item {
    border-bottom: 2px solid var(--cor_vermelha);
  }

  .colunas-direita {
    width: unset !important;
    margin-left: unset !important;
  }

  .colunas-esquerda {
    width: 100% !important;
    margin-right: unset !important;
  }

  .img-alunos-sobre-nos {
    width: unset !important;
    margin-right: unset;
    margin-left: unset;
  }
}


@media screen and (min-width:768px) and (max-width: 1023px) {
  .label-login {
    font-size: 25px;
    margin-top: 20px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }

  p#titulo-login {
    font-size: 60px;
    line-height: 55px;
    margin-top: 10%;
  }

  .all-conteudo {
    margin-top: 8% !important;
  }

  .login-fundo-branco {
    min-height: 105vh;
  }

  p#titulo-conta-criada {
    font-size: 73px;
  }

  p#texto-conta-criada {
    font-size: 23px;
  }

  a#btn-criar-conta-login {
    font-size: 30px !important;
    padding: 5px 50px !important;
    display: table-cell;
    height: 50px;
    text-align: center;
  }

  p#titulo-criar-conta {
    font-size: 55px;
  }

  p#possui-conta {
    font-size: 25px;
  }

  p#titulo-sobre-nos {
    font-size: 60px;
    margin-top: -20px;
  }

  p#texto-sobre-descritivo {
    font-size: 32px;
    line-height: 35px;
  }

  p#titulo-cadastro-finalizado {
    font-size: 60px;
    line-height: 65px;
  }

  .img-cadastro-finalizado {
    width: 250px;
    height: 100px;
  }

  p#titulo-esqueceu-senha {
    font-size: 70px;
    line-height: 75px;
  }
}

@media screen and (min-width:1024px) {
  p#texto-sobre-descritivo {
    font-size: 32px;
    line-height: 35px;
  }

  a#btn-criar-conta-login {
    margin-left: unset;
  }
}