@media screen and (max-width: 576px) {
  p#titulo-login-verde {
    font-size: 60px;
  }

  span#titulo-login-vermelho {
    font-size: 50px;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  .label-login {
    font-size: 25px;
  }
  p#titulo-login {
    font-size: 60px;
    line-height: 55px;
    margin-top: 10%;
  }
  .all-conteudo{
    margin-top: 8% !important;
  }
  .img-login {
    width: 30%;
  }
  .login-fundo-branco{
    min-height: 105vh;
  }
}