@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Raleway-Bold-Italic;
  src: url(../fonts/Raleway-BoldItalic.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway-Black;
  src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
  font-family: Raleway-Black-Italic;
  src: url(../fonts/Raleway-BlackItalic.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: Raleway-Light-Italic;
  src: url(../fonts/Raleway-LightItalic.ttf);
}

@font-face {
  font-family: Raleway-Medium-Italic;
  src: url(../fonts/Raleway-MediumItalic.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Italic;
  src: url(../fonts/Raleway-Italic.ttf);
}

:root {
  --cor_branca: #FFFFF8;
  --cor_vermelha: #AF3320;
  --cor_verde: #1B3A02;
  --logo: url(../image/Logo-claro.png);
  --background: url(../image/Bg-Login-Claro.png) center center no-repeat fixed;
  --color_preta: #000000;
}

.darkmode {
  --cor_branca: #121212;
  --cor_vermelha: #BE1900;
  --cor_verde: #4A9B0B;
  --logo: url('../image/Logo-claro.png');
  --background: url(../image/Bg-Login-Noturno.png) center center no-repeat fixed;
  --color_preta: #FFFFFF;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.img-logo-login {
  width: 90%;
  height: 90%;
  margin-top: 5.5%;
  margin-left: 5%;
}

.background-login {
  min-height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background: var(--background);

}

.login-fundo-branco {
  height: 100%;
  min-height: 100vh;
  background-color: var(--cor_branca);
}

.label-login {
  font-size: 30px;
  font-family: Raleway-Light;
  color: var(--cor_vermelha);
}

.login-right {
  height: 100%;
  min-height: 100vh;
}

.btn-login {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 180px;
  height: 60px;
  font-family: Raleway-Black;
  font-size: 33.35px !important;
  border-radius: 100PX !important;
  padding: unset !important;
}

.btn-espacamento {
  margin-top: 15px !important;
}

.mantenha-conectado {
  font-family: Raleway-Light;
  color: var(--cor_vermelha);
  font-size: 18px;
  word-break: unset;
  margin-top: 5%;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"]+label {
  position: relative;
  cursor: pointer;
  padding-left: 50px;
  line-height: 40px;
}

input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  left: 0;
  top: 0%;
  bottom: 0%;
  border: solid 1px;
  border-radius: 200px;
  vertical-align: bottom;
}

input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 10px;
  height: 20px;
  border-right: solid 3px #1B3A02;
  border-bottom: solid 3px #1B3A02;
  transform: rotate(45deg);
}

.login-esqueceu-senha {
  font-family: Raleway-Light-Italic;
  font-size: 18.08px;
  color: var(--cor_vermelha) !important;
  text-decoration: underline;
}

.novo-registro {
  font-family: Raleway-Light-Italic;
  font-size: 18.08px;
  color: var(--cor_vermelha) !important;
  text-decoration: none;
}

a#novo-registro {
  font-family: Raleway-Light-Italic;
  font-size: 18.08px;
  color: var(--cor_vermelha) !important;
  text-decoration: underline;
}

.icon-login {
  width: 225px;
  height: 280px;
  z-index: 10;
  bottom: 0;
  right: 0;
  float: left;
  position: fixed;
}

p#titulo-login {
  font-size: 78.87px;
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
  line-height: 75px;
  display: flex;
  margin-top: 5%;

}

p#frase-login {
  font-size: 19.8px;
  font-family: Raleway-Light;
  color: var(--cor_branca) !important;
  line-height: 23.8px;
}

input:focus .input-login~label, input:valid .input-login~label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

input .input-login~label {
  position: absolute;
  top: 16px;
  left: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: .4s;
}

.error {
  color: var(--cor_vermelha);
  font-size: 18px;
  margin-left: 3% !important;
  font-family: Raleway-Black-Italic;
  width: 100%;
  display: table;
}

.input-login span.error {
  display: flex;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.input-login span.error.active {
  border: 1px solid red;
  padding: 0.4em;
}

.valido {
  color: var(--cor_verde) !important;
}

.img-logo-cadastrar {
  width: 90%;
  height: 85%;
  margin-top: 5.5%;
}

p#titulo-criar-conta {
  font-family: Raleway-Black;
  font-size: 65px;
  color: var(--cor_verde) !important;
  line-height: 50px;
  margin-top: 15px;
}

p#titulo-esqueceu-senha {
  font-size: 95px;
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
  display: flex;
  line-height: 95px;
  margin-top: 5%;
}

p#esqueceu-senha {
  font-family: Raleway-Black;
  font-size: 65px;
  color: var(--cor_verde);
  line-height: 55px;
  margin-top: 10%;
  margin-bottom: 10%;
}

p#titulo-cadastro-finalizado {
  font-size: 55px;
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
  line-height: 50px;
  display: flex;
  margin-top: 10%;
}

.img-cadastro-finalizado {
  z-index: 5;
  bottom: 0;
  right: 0;
  float: left;
  position: fixed;
  width: 280px;
  height: 210px;
}

p#possui-conta {
  font-family: Raleway-Light-Italic;
  font-size: 21px;
  color: var(--cor_vermelha);
}

a#fazer-login {
  text-decoration: underline;
  color: var(--cor_vermelha) !important;
}

.btn-criar-conta {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 240px;
  height: 50px;
  font-family: Raleway-Black;
  font-size: 30px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  margin-bottom: 50px;
  margin-top: 20px;
}

.btn-enviar-email {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 240px;
  height: 50px;
  font-family: Raleway-Bold;
  font-size: 30px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  margin-top: 20px;
}

.label-criar-conta {
  font-size: 25px;
  font-family: Raleway-Light;
  color: var(--cor_vermelha);
}

.input-criar-conta {
  border-radius: 200px !important;
  border: 1px solid var(--cor_vermelha);
  width: 100% !important;
}

.input-group {
  margin-bottom: 15px;
}

.input-criar-conta-nomeusuario {
  border-radius: 0px 200px 200px 0px !important;
  border: 1px solid var(--cor_vermelha);
  margin-left: 5%;
  border-width: 1px 1px 1px 0px;
  border-top-color: var(--cor_vermelha);
}

.input-group-nomeUsuario {
  display: flex;
  align-items: center;
  padding: 5px 10px 10px 13px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--cor_vermelha);
  color: var(--cor_vermelha);
  height: 38px;
  border-radius: 200px 0px 0px 200px;
  background-color: var(--cor_branca);
  font-family: Raleway-Light;
}

.input-group-addon {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 10;
  right: 0;
  color: var(--cor_vermelha);
}

p#titulo-conta-criada {
  font-size: 93px;
  line-height: 71.6px;
  color: var(--cor_verde) !important;
  font-family: Raleway-Black;
  margin-left: 4%;
  margin-top: 5%;
}

p#texto-conta-criada {
  font-size: 31px;
  line-height: 31px;
  color: var(--cor_vermelha) !important;
  font-family: Raleway-Light-Italic;
  margin-left: 4%;
  margin-top: 5%;
}

span#texto-conta-criada-negrito {
  font-family: Raleway-Bold-Italic;
}

a#btn-criar-conta-login {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 353px;
  height: 70.22px;
  font-family: Raleway-Black;
  font-size: 43px !important;
  border-radius: 100PX !important;
  padding: 8px 64px !important;
  margin-bottom: 50px;
  text-decoration: none;
  margin-left: 4%;
}

/*tela dashboard*/
.navbar-img-logo {
  height: 100%;
  margin-top: 35px;
  width: 90%;
}

.navbar-input-busca {
  height: 69px;
  border-color: var(--cor_verde) !important;
  border-radius: 0px 200px 200px 0px !important;
  border-width: 1px 1px 1px 0px !important;
  border-top-color: var(--cor_verde) !important;
}

.navbar-input-busca::placeholder {
  font-family: Raleway-Medium-Italic;
  font-size: 26.5px !important;
  line-height: 26.7px !important;
  color: var(--cor_verde) !important;
  height: 100% !important;
}

.input-group-navbar {
  margin-top: 70px;
}

.span-icon-buscar {
  color: var(--cor_verde) !important;
  font-size: 55px !important;
  background-color: var(--cor_branca) !important;
  border-radius: 200px 0px 0px 200px !important;
  border-width: 1px 0px 1px 1px !important;
  border-color: var(--cor_verde) !important;
}

hr {
  border-color: var(--cor_verde) !important;
  background-color: var(--cor_verde) !important;
  width: 90% !important;
  display: table !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-width: 2px !important;
  height: 2px !important;
  opacity: 1 !important;
}

.navbar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav {
  font-family: Raleway-Bold !important;
  font-size: 25px !important;
  margin-right: 1%;
  padding-right: 0;
  justify-content: space-around;
}

.navbar-footer {
  font-family: Raleway-Light !important;
  font-size: 20px !important;
  margin-right: 1%;
  padding-right: 0;
  justify-content: space-around;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-footer-img-logo {
  height: 100%;
  width: 90%;
  margin-top: auto;
  margin-left: auto;
  display: block;
  min-height: 50px;
}

p#navbar-footer-frase {
  font-family: Raleway-Light-Italic !important;
  font-size: 14px;
  color: var(--cor_verde) !important;
  text-align: center;
}

.navbar-footer .nav-link {
  color: var(--cor_vermelha) !important;
}

.nav-link {
  color: var(--cor_verde) !important;
}

.rounded-circle {
  width: 50px;
  height: 50px;
  margin: auto;
}

.nav-meu-espaco {
  color: var(--cor_vermelha) !important;
}

.navbar-collapse {
  text-align: center;
}

.fa-bell-o, .fa-bell {
  color: var(--cor_vermelha);
  font-size: 35px !important;
  margin-left: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(175, 51, 32)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border-color: var(--cor_vermelha) !important;
  border: 3px solid var(--cor_vermelha) !important;
  margin-left: auto;
  margin-right: 20px;
}

.dropdown-menu {
  min-width: 15rem !important;
}

div .count1 {
  position: absolute;
  top: 0px;
  width: 21px;
  font-size: 15px;
  height: 20px;
  padding-top: 0px;
  right: 0px;
}

.form-control {
  background-color: var(--cor_branca) !important;
  color: var(--cor_vermelha) !important;
}

.common-count {
  background: var(--cor_verde);
  color: var(--cor_branca);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
}

.numero-notificacoes {
  font-family: Raleway-Bold;
  margin-left: -1px;
  margin-top: -1px;
}

.btn-navbar-login {
  border-radius: 15px 0px 15px 0px;
  width: 163px;
  height: 46px;
  background-color: var(--cor_vermelha);
  font-size: 23px;
  color: #fff !important;
  font-family: Raleway-Regular;
  text-align: center;
}

p#titulo-editar-dados {
  font-family: Raleway-Black;
  font-size: 65px;
  color: var(--cor_vermelha);
}

p#texto-equipe {
  font-family: Raleway-Black;
  font-size: 65px;
  line-height: 35px;
  color: var(--cor_vermelha);
  margin-top: 20px;
}

main#container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

span#titulo-sobre-nos {
  color: var(--cor_vermelha);
}

p#titulo-sobre-nos {
  color: var(--cor_verde) !important;
  font-family: Raleway-Black;
  font-size: 63px;
  line-height: 60px;
  word-break: break-word;
}

span#texto-sobre-descritivo {
  font-family: Raleway-Bold;
}

p#texto-sobre-descritivo {
  color: var(--cor_vermelha);
  font-family: Raleway-Light;
  font-size: 25px;
  line-height: 28px;
}

.img-sobre-nos {
  width: 100%;
  height: 100%;
}

.img-alunos-sobre-nos {
  margin-top: 20px !important;
  width: 75% !important;
  height: 75% !important;
  margin-right: 12.5%;
  margin-left: 12.5%;
}

span#texto-professor {
  font-size: 37px;
  text-align: center;
  color: var(--cor_verde);
  font-family: Raleway-Black;
  margin-top: 10px;
}

p#texto-professor {
  font-size: 37px;
  text-align: center;
  color: var(--cor_verde);
  font-family: Raleway-Light;
  margin-top: 10px;
}

p#sobre-nos-nome {
  font-family: Raleway-Light;
  color: var(--cor_verde);
  line-height: 27px;
  text-align: center;
  font-size: 29px;
  margin-top: 10px;
  margin-bottom: 60px;
}

p#texto-instrucao {
  font-size: 13px;
  font-family: Raleway-Light;
  color: var(--color_preta);
  line-height: 13px;
  padding: 0px 12px;
  margin-top: 10px;
}

span#texto-instrucao {
  font-size: 13px;
  line-height: 13px;
  font-family: Raleway-Bold;
}

a#pagina-inicial {
  font-family: Raleway-Black;
  font-size: 17px;
  text-align: center;
  width: 247px;
  height: 26px;
  background-color: var(--cor_vermelha);
  border-radius: 200px;
  color: var(--cor_branca) !important;
  padding: 5px 15px;
  text-decoration: none;
}

.img-esqueceu {
  width: 300px;
  height: 253px;
  z-index: 5;
  bottom: 0;
  right: 0;
  float: left;
  position: fixed;
}


div .notification {
  float: right;
  padding: 5px;
  cursor: pointer;
  position: relative;
  top: 7px;
}

div .notification:hover i {
  color: var(--cor_verde);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  margin-left: 113px;
}

.dd {
  position: absolute;
  top: -9999px;
}

.dropdown-transition {
  width: 185px;
  z-index: 100;
  position: absolute;
  color: var(--cor_verde);
  right: 0px;
  top: 48px;
  -webkit-transform: translateY(18px);
  -moz-transform: translateY(18px);
  -o-transform: translateY(18px);
  transform: translateY(18px);
  /* -webkit-transition: -webkit-transform 0.4s, opacity 0.4s; */
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  box-shadow: 1px 1px 5px var(--cor_vermelha);
  border-radius: 20px;
}

.notification-dropdown .header {
  background: var(--cor_verde);
  width: 100%;
  height: 44px;
  border-bottom: 2px solid var(--cor_vermelha);
  font-size: 14px;
  line-height: 18px;
  border-radius: 20px 20px 0px 0px;
}

.notification-dropdown .header .container {
  width: 100%;
  text-align: center;
  padding-top: 12px;
  color: var(--cor_vermelha);

}

.notification-dropdown .items::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.notification-dropdown .items::-webkit-scrollbar-track {
  background: var(--cor_vermelha);
  /* color of the tracking area */
  width: 10px;
  border-radius: 0px 0px 20px 0px;
}

.notification-dropdown .items::-webkit-scrollbar-thumb {
  background-color: var(--cor_verde);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--cor_vermelha);
  /* creates padding around scroll thumb */
}

.notification-dropdown .items {
  background: var(--cor_verde);
  width: 100%;
  height: 100%;
  min-height: 273px;
  border-radius: 0px 0px 10px 20px;
  overflow-y: auto;
  position: absolute;
}

.notification-dropdown .items .list-item {
  padding: 14px 14px 0px 14px;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid var(--cor_vermelha);
  cursor: pointer;
}

a#noticacao-item {
  text-decoration: none;
  color: var(--cor_branca);
}

.noti:hover {
  background-color: var(--cor_vermelha);
  color: var(--cor_verde);
}

span#texto-notificacao {
  line-height: 20px;
  font-size: 18px;
  font-family: Raleway-Light;
  color: var(--cor_branca);
}

.new-item {
  background: #DDECF3;
}

.notification-dropdown .items .list-item:last-child {
  border-bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.notification-dropdown .items .list-item .text {
  color: var(--cor_branca);
  width: 155px;
  position: relative;
  top: -1px;
  font-family: Raleway-Black;
  font-size: 18px;
  line-height: 20px;
}

.notification-dropdown .items .list-item .text b {
  margin-right: 4px;
  color: var(--cor_branca);
  font-family: Raleway-Light;
  font-size: 18px;
  line-height: 20px;
}

.dark-light {
  width: 22px;
  height: 22px;
  color: var(--cor_vermelha);
  flex-shrink: 0;
  margin-left: 5px;
  margin-top: -18px;
}

svg {
  fill: var(--cor_branca);
  stroke: var(--cor_branca);
}

body#dark-mode {
  background-color: var(--cor_branca);
}

.fa-sign-out {
  color: var(--cor_branca);
  font-size: 60px !important;
  margin-top: 5px;
}

.name {
  display: inline-grid;
  text-align: left;
  color: var(--cor_branca) !important;
}

main#telas-navbar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

p#titulo-criar-publicacao {
  font-family: Raleway-Black;
  font-size: 60px;
  line-height: 52px;
  color: var(--cor_vermelha);
  margin-top: 20px;
}

.label-criar-publicacao {
  font-family: Raleway-Light;
  font-size: 35px;
  line-height: 31px;
  color: var(--cor_vermelha);
  margin-left: 10px;
  margin-top: 10px;
}

select#select-termo {
  min-width: 100px;
  width: 100%;
  height: 38px;
  border: 1px solid var(--cor_vermelha);
  border-radius: 200px;
  font-family: Raleway-Light;
  color: var(--cor_vermelha);
  padding: 0px 10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(175, 51, 32)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 7px;
  stroke: var(--cor_vermelha);
}

.label-criar-categoria {
  font-size: 28px;
  line-height: 29px;
  color: var(--cor_vermelha);
  font-family: Raleway-Light;
  margin-top: 10px;
}

.textarea {
  min-height: 115px !important;
  border-radius: 40px !important;
  padding: 5px 45px 5px 20px !important;
  border-color: var(--cor_vermelha);
}

span#texto-opcional {
  font-family: Raleway-Light-Italic;
  font-size: 25px;
  line-height: 31px;
}

span#texto-opcional-menor {
  font-family: Raleway-Light-Italic;
  font-size: 20px;
  line-height: 31px;
}

p#texto-alerta {
  font-family: Raleway-Light-Italic;
  color: var(--color_preta);
  font-size: 20px;
  line-height: 31px;
  margin-left: 10px;
  word-break: break-word;
}

.ck.ck-reset_all, .ck.ck-reset_all * svg {
  stroke: unset !important;
  fill: unset !important;
  color: var(--cor_branca);
}

.ck.ck-toolbar, .ck .ck-sticky-panel {
  background-color: var(--cor_vermelha) !important;
}

.ck .ck-button .ck-off:hover {
  background-color: var(--cor_verde);
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border-radius: 0px 0px 40px 40px;
  border-color: var(--cor_vermelha);
}

.ck.ck-editor {
  width: 100% !important;
}

.ck-link-form, .ck-link-actions, .ck-find-and-replace-form, .ck-list__item, .ck-dropdown__panel_se, .ck-dropdown__panel_nw, .ck-dropdown__panel-visible {
  background-color: var(--cor_vermelha) !important;

}

.ck-button__label, .ck-form__header__label, .ck-insert-table-dropdown__label, .ck-character-info, .ck-labeled-field-view__status, .ck-insert-table-dropdown__grid, .ck-dropdown__panel_nw, .ck-dropdown__panel-visible, .ck-character-info {
  color: var(--cor_branca) !important;
  font-family: Raleway-Regular !important;
}

.ck.ck-list__item .ck-button.ck-on:hover:not(.ck-disabled) {
  background-color: var(--cor_verde) !important;
}

p {
  font-family: Raleway-Regular;
  font-size: 20px;
  color: var(--cor_vermelha) !important;
}

a {
  color: var(--cor_verde) !important;
}

p strong {
  color: var(--cor_verde);
  font-family: Raleway-Black;
  font-size: 20px;
}

.input-imagem {
  border: 1px solid var(--cor_vermelha);
  border-radius: 200px 0px 0px 200px !important;
  min-height: unset !important;
  height: 38px;
}

.btn.btn-primary {
  background-color: var(--cor_vermelha);
  border-color: var(--cor_vermelha);
  outline: none;
  color: var(--cor_branca) !important;
  border-radius: 0px 200px 200px 0px;
}

.btn.btn-primary:hover {
  background-color: var(--cor_verde);
  border-color: var(--cor_verde);
}

.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: var(--cor_verde);
  border-color: var(--cor_verde);
}

.text-muted {
  background-color: var(--cor_verde) !important;
}

p#text-revisar-publicacão {
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  font-family: Raleway-Light;
  color: var(--cor_verde) !important;
}

.btn-publicar {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 100% !important;
  height: 95px;
  font-family: Raleway-Black;
  font-size: 55px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  line-height: 45px !important;
  margin-bottom: 35px;
  text-align: center;
}

p#titulo-cadastrar-rede {
  font-size: 65px;
  line-height: 52px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha);
  margin-top: 20px;
  word-break: break-word;
}

p#consideracao {
  font-size: 45px;
  line-height: 45px;
  font-family: Raleway-Black;
  color: var(--cor_verde) !important;
}

li#texto-estilo {
  font-size: 25px;
  line-height: 32px;
  font-family: Raleway-Light;
  color: var(--cor_verde) !important;
  word-break: break-word;
}

li#texto-estilo span {
  font-size: 25px;
  line-height: 32px;
  font-family: Raleway-Black;
  color: var(--cor_verde) !important;
}

.btn-adicionar {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 100% !important;
  height: 45px;
  font-family: Raleway-Black;
  font-size: 35px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  line-height: 31px !important;
  margin-bottom: 35px;
  text-align: center;
}

.btn-adicionar-termo {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 100% !important;
  height: 45px;
  font-family: Raleway-Black;
  font-size: 35px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  line-height: 31px !important;
  margin-top: 50px;
  text-align: center;
}

.tipo-termo {
  font-family: Raleway-Light;
  color: var(--cor_vermelha);
  font-size: 18px;
  word-break: unset;
  margin-left: 10px !important;
  margin-right: 30px !important;
}

.alert {
  margin-top: 10px;
}

.termos {
  border-radius: 40px !important;
}

span#nomes_termos {
  z-index: 100;
  height: 100%;
}

.balao-container {
  z-index: 100;
  position: absolute;
  display: contents;
}

.rede-container {
  z-index: 100;
  position: absolute;
}

.rede-balao {
  display: flex;
  font-family: Raleway-Light;
  font-size: 21px;
  line-height: 24px;
  color: var(--cor_branca);
  border: 1px solid var(--cor_vermelha);
  background-color: var(--cor_vermelha);
  border-radius: 15px !important;
  height: 100%;
  padding: 0px 0px 0px 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px !important;
  z-index: 100;
  box-shadow: 1px 1px 5px var(--cor_verde);
}

span#resultado_pesquisa ul li {
  background-color: var(--cor_vermelha);
  color: var(--cor_branca);
  font-family: Raleway-Light;
  border-bottom: var(--cor_branca);
  width: 100%;
}

span#resultado_pesquisa {
  width: 95%;
  margin-left: 2.5%;
  z-index: 100;
}

.balao {
  display: flex;
  font-family: Raleway-Light;
  font-size: 21px;
  line-height: 24px;
  color: var(--cor_branca);
  border: 1px solid var(--cor_vermelha);
  background-color: var(--cor_vermelha);
  border-radius: 15px !important;
  height: 100%;
  padding: 0px 0px 0px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px !important;
  z-index: 100;
  box-shadow: 1px 1px 5px var(--cor_verde);
  width: max-content;
}

.balao-fechar {
  margin-left: 10px;
  margin-right: 10px;
  background: transparent;
  border: none;
  color: var(--cor_branca) !important;
}

.colunas-esqueda {
  width: 47.5% !important;
  margin-right: auto !important;
}

.colunas-direita {
  width: 47.5% !important;
  margin-left: auto !important;
}

.span-icon-buscar-usuarios {
  color: var(--cor_vermelha) !important;
  font-size: 40px !important;
  background-color: var(--cor_branca) !important;
  border-radius: 200px 0px 0px 200px !important;
  border-width: 1px 0px 1px 1px !important;
  border-color: var(--cor_vermelha) !important;
}

.navbar-input-busca-usuarios {
  height: 56px;
  border-color: var(--cor_vermelha);
  border-radius: 0px 200px 200px 0px !important;
  border-width: 1px 1px 1px 0px;
  border-top-color: var(--cor_vermelha) !important;
}

.navbar-input-busca-usuarios::placeholder {
  font-family: Raleway-Medium-Italic;
  font-size: 26.5px !important;
  line-height: 26.7px !important;
  color: var(--cor_vermelha) !important;
  height: 100% !important;
}

.listar-balao {
  color: var(--cor_branca) !important;
  font-family: Raleway-Black !important;
  font-size: 25px !important;
  line-height: 24px !important;
  background-color: var(--cor_verde);
  text-align: center;
  padding: 12px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 80px;
}

.texto-codigo {
  font-family: Raleway-Regular !important;
  font-size: 25px !important;
  line-height: 24px !important;
  color: var(--color_preta) !important;
  text-align: center;
}

.texto-nome {
  font-family: Raleway-Bold !important;
  font-size: 25px !important;
  line-height: 24px !important;
  color: var(--color_preta) !important;
  text-align: center;
}

.texto-data {
  font-family: Raleway-Light !important;
  font-size: 23.74px !important;
  line-height: 23px !important;
  color: var(--color_preta) !important;
  text-align: center;
}

p#btn-alteracao {
  width: 100%;
  min-height: 48px;
  height: 100%;
}

.header-tools {
  clear: both;
  overflow: hidden;
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 20px;
  right: 40px;
  text-align: center;
  background-color: var(--cor_vermelha);
  border-radius: 200px;
  box-shadow: 2px 2px 3px var(--color_preta);
  z-index: 1001;
}

.header-tools>span {
  font-size: 24px;
  min-width: 24px
}

.header-tools .pull-left {
  float: left
}

.header-tools .pull-right {
  float: right
}

.header-tools .ion-ios-search {
  z-index: 999;
  position: relative;
}

.header-tools .ion-ios-arrow-back {
  min-width: 25px
}

.header-tools .ion-ios-navicon>i {
  height: 1px;
  width: 20px;
  margin-top: 5px;
  background: #fff;
  position: relative;
  display: inline-block
}

.header-tools .ion-ios-navicon>i:after,
.header-tools .ion-ios-navicon>i:before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  background: inherit
}

.header-tools .ion-ios-navicon>i:before {
  bottom: 12px
}

.header-tools .ion-ios-navicon>i:after {
  bottom: 6px
}

.sidebar .sidebar-content,
.sidebar .sidebar-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all .3s ease-in-out 0s
}

.sidebar .sidebar-overlay {
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 999;
  transform: scale(0);
  filter: blur(100px);
}

.sidebar .sidebar-content {
  display: none;
  width: max-content;
  color: var(--cor_branca);
  height: max-content;
  margin-top: 270px;
  padding: 15px;
  z-index: 9999;
  border-radius: 50px 0px 0px 50px;
  background: var(--cor_vermelha);
  transform: translateX(100%)
}

.sidebar.active .sidebar-content {
  transform: translateX(0);
  display: unset
}

.sidebar.active .sidebar-overlay {
  opacity: 0.4;
  transform: scale(1);
}

.sidebar .sidebar-content .top-head .name {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px
}

.sidebar .sidebar-content .top-head .email {
  font-size: 13px;
  margin-bottom: 50px
}

.nav-left {
  margin-top: -20px;
}

.sidebar .sidebar-content .nav-left>a {
  color: var(--cor_branca) !important;
  font-family: Relaway-Light;
  display: block;
  font-size: 28px;
  padding: 10px 0;
  line-height: 15px;
  vertical-align: top;
  text-decoration: underline;
  height: 35px;
}

.sidebar .sidebar-content .nav-left>a>span {
  color: #aaa;
  font-size: 24px;
  min-width: 40px;
  display: inline-block
}

.fa-cog {
  color: var(--cor_branca);
  font-size: 40px !important;
  margin: auto;
  top: 13px;
  position: absolute;
  left: 0px;
  right: 0;
}

p#configuracao {
  margin-left: 15px;
  font-size: 45px !important;
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
}

.btn-tools:hover {
  background-color: var(--cor_verde);
}

.modo-noturno {
  margin-left: 40px;
  line-height: 0px;
}

.texto-modo-noturno {
  margin-top: -8px;
}

.input-sair {
  background: transparent;
  border: 0;
  color: var(--cor_branca);
  font-size: 40px;
  font-family: Raleway-Black;
}

.btn-sair:hover {
  background-color: var(--cor_verde);
  width: 100%;
  float: right;
}

.btn-sair {
  margin-top: -20px;
}

div#texto-usuario {
  margin-left: 15px;
  font-size: 30px !important;
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
  margin-top: 15px;
}

.fa-trash-o, .fa-pencil-square-o, .fa-file-text-o, .fa-bookmark-o, .fa-bookmark {
  color: var(--cor_vermelha);
  font-size: 35px !important;
  margin-left: 15px;
  width: 42px;
  height: 16px;
}

.fa-trash-o {
  margin-left: -5px;
  text-align: right;
}

.fa-pencil-square-o {
  font-size: 40px !important;
}

.fa-verde {
  color: var(--cor_verde) !important;
}

.fa-long-arrow-up {
  color: var(--cor_vermelha);
  font-size: 30px !important;
  margin-right: 15px;
  margin-left: 15px;
}

.btn-excluir-atualizar {
  background-color: transparent;
  border: none;
}

.editar {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  font-size: 30px !important;
  z-index: 10;
}

.editar-publicacao {
  position: absolute;
  right: 5px;
  margin-top: 5px;
  font-size: 30px !important;
  z-index: 10;
}

p#meus-dados {
  font-size: 65px;
  font-family: Raleway-Black;
  line-height: 52px;
  margin-top: 20px;
}

.img-meus-dados {
  width: 85% !important;
  height: 100%;
  float: right;
  margin-top: 80px !important;
}

.btn-alterar-senha {
  width: 100%;
  min-width: 191px;
  height: 51px;
  background-color: var(--cor_vermelha);
  font-size: 23px;
  font-family: Raleway-Black;
  line-height: 22px;
  color: var(--cor_branca);
  border: none;
  border-radius: 92px;
  margin-bottom: 15px;
}

.btn-excluir-conta {
  width: 100%;
  min-width: 191px;
  height: 51px;
  background-color: var(--cor_vermelha);
  font-size: 23px;
  font-family: Raleway-Black;
  line-height: 22px;
  color: var(--cor_branca);
  border: none;
  border-radius: 92px;
  opacity: 0.8;
  margin-bottom: 15px;
}

div#modal-senha, div#modal-conta {
  background-color: var(--cor_vermelha);
  min-height: max-content;
  position: fixed;
  z-index: 100;
  top: 5%;
  left: 0;
  box-shadow: 1px 1px 5px var(--color_preta);
  border-radius: 50px;
  display: none;
}

div#modal-avatar {
  background-color: var(--cor_vermelha);
  min-height: max-content;
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 0;
  box-shadow: 1px 1px 5px var(--color_preta);
  border-radius: 50px;
  display: none;
}

p#texto-trocar-foto {
  font-family: Raleway-Black;
  line-height: 30px;
  font-size: 29px;
  word-break: break-word;
  color: var(--cor_branca) !important;
  margin-top: -20px;
}

p#texto-avatar-atual {
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
  font-size: 50px;
  margin-top: -20px;
  line-height: 48px;
}

p#texto-avatar-explicativo {
  font-family: Raleway-Light;
  font-size: 22px;
  line-height: 27px;
  color: var(--cor_branca) !important;
  margin-top: -10px;
}

p#avatar-nome {
  font-family: Raleway-Light;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: var(--cor_branca) !important;
  margin-top: 10px;

}

p#avatar-nome span {
  font-family: Raleway-Black;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: var(--cor_branca) !important;
  margin-top: -10px;
}

.img-trocar-avatar {
  width: 90%;
  height: 60%;
}

.img-icone-avatar {
  width: 100%;
  height: 65%;
  margin-top: 10px;
}

div#escolher-avatar:hover {
  background-color: var(--cor_verde);
  opacity: 0.7;
  z-index: 1000;
}

.btn-salvar-avatar {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 100%;
  height: 36px;
  font-family: Raleway-Black;
  font-size: 21px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  line-height: 31px;
  margin-bottom: 50px;
}

.btn-fechar-senha {
  color: var(--cor_branca);
  font-size: 40px;
  font-family: Raleway-Light;
  line-height: 53px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
}

.modal-ativa {
  display: unset !important;
}

p#texto-senha, p#texto-excluir {
  font-family: Raleway-Black;
  color: var(--cor_branca) !important;
  font-size: 50px;
  margin-top: -20px;
}

.label-nova-senha {
  font-size: 32px;
  font-family: Raleway-Light;
  color: var(--cor_branca);
  line-height: 29px;
}

.input-nova-senha {
  border-radius: 200px !important;
  border: 1px solid var(--cor_branca);
  width: 100% !important;
  background-color: var(--cor_vermelha) !important;
  color: var(--cor_branca) !important;
}

.input-group-addon-senha {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 10;
  right: 0;
  color: var(--cor_branca);
}

p#descricao-excluir {
  font-size: 29px;
  font-family: Raleway-Light;
  line-height: 29px;
  color: var(--cor_branca) !important;
}

p#descricao-excluir span {
  font-family: Raleway-Bold;
}

.label-excluir-conta {
  font-size: 32px;
  font-family: Raleway-Bold;
  color: var(--cor_branca);
  line-height: 29px;
}

.btn-excluir {
  color: var(--cor_vermelha) !important;
  background-color: var(--cor_branca) !important;
  border-color: var(--cor_branca) !important;
  width: 100%;
  height: 56px;
  font-family: Raleway-Bold;
  font-size: 30px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  line-height: 31px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.btn-salvar-alteracao {
  color: var(--cor_branca) !important;
  background-color: var(--cor_verde) !important;
  border-color: var(--cor_verde) !important;
  width: 100%;
  height: 56px;
  font-family: Raleway-Black;
  font-size: 35px !important;
  border-radius: 100PX !important;
  padding: unset !important;
  line-height: 31px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.pencil-termos {
  margin-top: 46px !important;
}

p#texto-biblioteca {
  font-size: 64px;
  font-family: Raleway-Black;
  line-height: 24px;
  color: var(--cor_vermelha);
  margin-top: 20px;
}

.balao-vermelho {
  width: 13.22% !important;
  height: 100%;
  height: 85px;
  background-color: var(--cor_vermelha);
  color: var(--cor_branca) !important;
  font-size: 53px;
  font-family: Raleway-Black;
  margin-right: 0.5%;
  margin-left: 0.5%;
  text-decoration: none;
  text-align: center;
  border-radius: 213px;
  margin-top: 20px !important;
}

.balao-verde {
  width: 13.22% !important;
  height: 100%;
  height: 85px;
  background-color: var(--cor_verde);
  color: var(--cor_branca) !important;
  font-size: 53px;
  font-family: Raleway-Black;
  margin-right: 0.5%;
  margin-left: 0.5%;
  text-decoration: none;
  text-align: center;
  border-radius: 213px;
  margin-top: 20px !important;

}

.container-balao {
  margin-top: 20px !important;
}

span#resultado_pesquisa_termo ul li {
  background-color: var(--cor_vermelha);
  color: var(--cor_branca);
  font-family: Raleway-Light;
  width: 100%;
  border-radius: 0px;
  border: 1px solid var(--cor_branca);
  padding: 10px;
  font-size: 18px;
}

div#publicacao-semelhantes {
  margin-top: 20px;
}


p#titulo-publicacao {
  font-size: 60px !important;
  margin-top: 20px;
  line-height: 50px;
  word-break: break-word;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
}

p#resumo-publicacao {
  font-size: 40px !important;
  margin-top: 20px;
  line-height: 50px;
  word-break: break-word;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
}

p#categoria-publicacao, p#rede-publicacao {
  text-align: center;
  max-width: max-content;
  background-color: var(--cor_verde);
  height: 100%;
  min-height: 35px;
  font-family: Raleway-Light;
  color: var(--cor_branca) !important;
  border-radius: 200px;
  margin-left: 10px;
  line-height: 40px;
}

p#texto-publicacao {
  font-size: 20px;
  line-height: 25px;
  font-family: Raleway-Regular;
}

p#texto-resumo {
  font-size: 18px;
  line-height: 20px;
  font-family: Raleway-Italic;
  color: var(--cor_verde) !important;
}

p#texto-publicacao-semelhante {
  font-size: 20px;
  width: 200px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p#texto-termo-semelhante {
  font-size: 20px;
  width: 150px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-publicacao-semelhante {
  width: 100% !important;
  max-width: 202px !important;
  max-height: 113px;
  margin-left: auto;
  height: 100%;
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  border: 2px solid var(--cor_verde);
  border-radius: 30px;
}

.titulo-publicacao-semelhante {
  width: 202px !important;
  word-break: break-word;
  color: var(--cor_verde) !important;
  font-family: Raleway-Black;
  text-decoration: none;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.titulo-publicacao-semelhante:hover {
  color: var(--cor_vermelha) !important;
  text-decoration: underline;
}

.img-publicacao {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

p#linha-tempo {
  font-size: 60px !important;
  margin-top: 20px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
  line-height: 22.5px;
}

p#linha-info {
  font-size: 25px !important;
  font-family: Raleway-Light;
  color: var(--color_preta) !important;
}

p#rede-nome, p#termo-nome {
  width: max-content;
  font-size: 60px !important;
  margin-top: 20px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
}

hr#rede-hr {
  background-color: var(--cor_vermelha) !important;
  width: 100% !important;
}

p#rede-descricao, p#rede-termos, p#termo-rede {
  font-size: 39px !important;
  font-family: Raleway-Black;
  color: var(--cor_verde) !important;
  line-height: 36.5px;
}

p#rede-descricao-texto {
  font-size: 25px !important;
  font-family: Raleway-Light;
  color: var(--cor_vermelha) !important;
  line-height: 28px;
}

a#rede-termo-balao {
  font-family: Raleway-Light;
  font-size: 28px;
  line-height: 24px;
  color: var(--cor_branca) !important;
  border: 1px solid var(--cor_vermelha);
  background-color: var(--cor_vermelha);
  border-radius: 75px !important;
  height: 100%;
  width: max-content;
  padding: 0px 10px 0px 10px;
  margin-top: 5px;
  margin-right: 10px !important;
  text-decoration: none;
}

a#rede-termo-balao {
  font-family: Raleway-Light;
  font-size: 28px;
  line-height: 24px;
  color: var(--cor_branca) !important;
  border: 1px solid var(--cor_verde);
  background-color: var(--cor_verde);
  border-radius: 75px !important;
  height: 100%;
  width: max-content;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  margin-right: 10px !important;
  text-decoration: none;
  display: block;
}

a#termo-botao {
  width: 100%;
  max-width: 290px;
  background-color: var(--cor_vermelha);
  color: var(--cor_branca) !important;
  height: 100%;
  max-height: 53px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  border: none;
  border-radius: 290px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

tr {
  min-height: 40px;
  padding: 5px 0 5px 0;
}

table {
  margin-left: 15px;
}

.adicionar-termos {
  width: max-content;
  padding: 5px 20px 5px 20px;
  height: 50px;
  line-height: 28px;
  font-size: 28px;
  font-family: Raleway-Black;
  background-color: var(--cor_verde);
  color: var(--cor_branca) !important;
  text-decoration: none;
  border-radius: 100px;
  margin-top: 20px;
  display: table;
  line-height: inherit;
  margin-bottom: 20px;
}

.fa-plus {
  font-size: 20px !important;
}

label.dropdown {
  position: absolute !important;
  right: 25px;
  margin-top: 8px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid var(--cor_vermelha);
  border-radius: 4px;
  padding: 0px 30px 0px 20px;
  background-color: var(--cor_vermelha);
  cursor: pointer;
  white-space: nowrap;
  font-family: Raleway-Light;
  font-size: 25px;
  color: var(--cor_branca) !important;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--cor_branca);
}

.dd-button:hover {
  background-color: var(--cor_verde);
  border-color: var(--cor_verde);
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
}


.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.btn-filtrar {
  position: absolute !important;
  margin-left: -135px;
  background-color: var(--cor_vermelha) !important;
  font-family: Raleway-Light;
  line-height: 23px !important;
  font-size: 25px !important;
  margin-top: 8px;
  border-color: var(--cor_vermelha);
  color: var(--cor_branca) !important;
}

div#table_filter {
  display: none;
}

.dataTables_length, option, select, .dataTables_info, .dataTables_wrapper .dataTables_paginate, a .paginate_button .next .disabled {
  font-family: Raleway-Light !important;
  color: var(--cor_vermelha) !important;
}

select {
  border-color: var(--cor_vermelha);
}

table.dataTable tbody tr {
  background-color: var(--cor_branca) !important;
}

div#table_length {
  float: right !important;
}

table.dataTable thead td, table.dataTable.no-footer {
  border-bottom: 2px solid var(--cor_verde) !important;
}

.table_wrapper {
  width: 100% !important;
}

p#text-nova-anotacao {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  font-family: Raleway-Light;
  color: var(--cor_verde) !important;
  margin-top: 10px;
}

label#sessao-meu-espaco {
  font-size: 45px;
  line-height: 35px;
  font-family: Raleway-Black;
  color: var(--cor_verde) !important;
  margin-top: 20px;
}

span#texto-linha-tempo {
  font-size: 25px;
  line-height: 30px;
  font-family: Raleway-Medium;
  color: var(--cor_verde) !important;
  margin-top: 10px;
}

p#sessao-linha-tempo {
  font-size: 25px;
  line-height: 30px;
  font-family: Raleway-Black;
  color: var(--cor_verde) !important;
  margin-top: 10px;
}

label#sessao-linha-tempo {
  font-size: 25px;
  line-height: 30px;
  margin-left: 20px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
  margin-top: 10px;
}

p#linha-info-menor {
  margin-left: 20px;
  font-size: 18px !important;
  font-family: Raleway-Light;
  color: var(--color_preta) !important;
}

.icon-index {
  width: 217px;
  height: 297px;
  z-index: 10;
  bottom: 0;
  left: 0;
  float: left;
  position: fixed;
}

p#texto-slogan {
  font-size: 65px;
  font-family: Raleway-Black;
  color: var(--cor_vermelha) !important;
  text-align: left;
  margin-top: 10px;
  line-height: 60px;
}

span#texto-slogan-alt {
  font-size: 65px;
  font-family: Raleway-Black;
  color: var(--cor_verde) !important;
  text-align: left;
  margin-top: 10px;
  line-height: 60px;
}

label#texto-slogan-menor {
  font-size: 25px;
  font-family: Raleway-Light;
  color: var(--cor_verde) !important;
  text-align: left;
  line-height: 20px;
}

.d-contents {
  display: contents;
}

p#titulo-comentario {
  font-family: Raleway-Black;
  line-height: 69px;
  font-size: 55px;
  color: var(--cor_verde) !important;
}

.label-comentario {
  color: var(--cor_vermelha);
  font-family: Raleway-Black;
  line-height: 25px;
  font-size: 20px;
}

p#letra {
  color: var(--cor_vermelha);
  font-family: Raleway-Black;
  font-size: 65px;
}

li#nome-termo {
  color: var(--cor_vermelha);
  font-family: Raleway-Black;
  font-size: 40px;
  line-height: 45px;
  text-decoration: none;
}

a#nome-termo {
  text-decoration: none;
}

.d-flex form button {
  margin-top: 15px;
}

.container-publicacoes-relevantes {
  margin-top: -30px !important;
}

.container-publicacao {
  position: relative;
  width: 100% !important;
  height: 160px !important;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-publicacao-img {
  width: 100%;
  height: 140px;
  border-radius: 22px;
  margin-top: -6px;
  margin-left: 7px;
}

.container-publicacao button p {
  font-family: Raleway-Black;
  font-size: 16.5px;
  position: absolute;
  z-index: 999;
  text-align: center;
  color: var(--cor_branca) !important;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35px;
  word-break: break-word;
  width: 200px;
}

.container-publicacao button img {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: var(--cor_branca) !important;
  opacity: 1;
  width: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
}

.overlay {
  width: 100%;
  max-height: 140px;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  z-index: 99;
  border-radius: 20px;
  background: linear-gradient(to right, var(--cor_verde), var(--cor_vermelha));
}

div#carousel-item {
  display: flex;
  overflow-y: auto;
  margin-left: 20px;
}


div#carousel-item::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

div#carousel-item::-webkit-scrollbar-track {
  background: var(--cor_branca);
  /* color of the tracking area */
  width: 10px;
  border-radius: 0px 0px 20px 0px;
}

div#carousel-item::-webkit-scrollbar-thumb {
  background-color: var(--cor_verde);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--cor_branca);
  /* creates padding around scroll thumb */
}

div#carouselExampleControls{
  margin-bottom: 25px;
}

p#instrucao {
  color: var(--color_preta) !important;
  font-family: Raleway-Light-Italic;
  font-size: 20px;
  margin-left: 10px;
}

p#instrucao-passos {
  color: var(--color_preta) !important;
  font-family: Raleway-Light-Italic;
  font-size: 20px;
  margin-top: -20px;
  margin-left: 10px;
}

p#instrucao-passos i {
  color: var(--cor_vermelha) !important;
}

textarea#comentario {
  border-radius: 20px;
  border-color: var(--cor_verde);
  background-color: var(--cor_branca);
  min-height: 99px;
}

textarea#comentario::placeholder {
  font-size: 20px;
  font-family: Raleway-Light-Italic;
}

.submit-comentario {
  border: 1px solid var(--cor_verde);
  width: 148px !important;
  height: 28px;
  background-color: var(--cor_verde);
  font-family: Raleway-Black;
  font-size: 17px;
  color: var(--cor_branca) !important;
  border-radius: 49px;
  border-color: var(--cor_verde);
  padding: 0px 5px 5px 5px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: -15px !important;
  z-index: 2;
}

p#texto-bem-vindo {
  font-family: Raleway-Black;
  font-size: 45px;
  line-height: 45px;
  color: var(--cor_vermelha) !important;
}

p#texto-bem-vindo span {
  color: var(--cor_verde) !important;
}

p#texto-slogan-menor {
  color: var(--cor_verde) !important;
  font-size: 25px;
  line-height: 30px;
  font-family: Raleway-Light;
}

.img-index {
  width: 200px !important;
  z-index: 1000;
  bottom: 0;
  right: -15px;
  float: left;
  position: fixed;
}

.container-comentario {
  width: 100%;
  height: max-content;
  margin-top: 20px;
}
hr#hr-comentario{
  width: 100% !important;
}
.comentario {
  margin-left: 10px;
  margin-right: auto;
  height: max-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comentario-nome-usuario {
  width: max-content;
  font-family: Raleway-Black;
  font-size: 18px;
  color: var(--cor_verde) !important;
}
.comentario-nome-usuario span{
  font-family: Raleway-Bold;
  font-size: 15px;
  color: var(--cor_verde) !important;
}
.comentario-data{
  width: max-content;
  margin-left: auto;
}
.comentario-data{
  font-family: Raleway-Bold;
  font-size: 15px;
  color: var(--cor_verde) !important;
}
.comentario-texto{
  font-family: Raleway-Light;
  font-size: 15px;
  color: var(--cor_verde) !important;
  margin-left: 5px;
}
.comentario-excluir{
  font-family: Raleway-Light;
  font-size: 15px;
  color: var(--cor_verde) !important;
}

span#resultado_pesquisa_publicacao ul li{
  background-color: var(--cor_vermelha);
  color: var(--cor_branca);
  font-family: Raleway-Light;
  border-bottom: var(--cor_branca);
  width: 100%;
}

span#resultado_pesquisa_publicacao {
  width: 90%;
  margin-left: 5%;
  z-index: 100;
}

li#nome-termo:hover{
color: var(--cor_verde) !important;
text-decoration: underline;
}

div#rede-botoes{
  width: max-content;
  align-items: center;
  display: inline-flex;
  margin-top: 10px;
  margin-left: auto;
}

a#ver-rede{
  text-decoration: none;
  color: var(--cor_branca) !important;
}
a#ver-rede:hover,.balao-fechar:hover{
  text-decoration: underline;
  color: var(--cor_verde) !important;
}

div#rede-termos-balao{
 margin-bottom: 20px; 
}